<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">I am a <span id="js-rotating">Unconventional, WoT Player, Music Enthusiast, Such Cool</span> Programmer.</h4>
  </div>
  <div class="user-content">
    <p>
      Īn delectus tǣcimates perīculā sīt, duō et ƿisl justo oporteat. Mēl te veƿiǽm ġrǣeco iuvǣrēÞ, per āt ǽdmodūm mēƿandri ǽðipiscīng. Eæ qui dicō ǣlia essēnÞ, āt ƿec fugit eraƿt æppǣreǽÞ. Cu ēæm omnes plaċerāt.
    </p>
    <h4 class="sub-title">Education Experiences</h4>
    <p>
      Sep.2022 - Jul.2025     Chinese Academy of Sciences    
      Sep.2018 - Jul.2022     Sichuan University    Wu Yuzhang Honors College   Bachelor of Engineering degree in Computer Science and Technology
    </p>
  </div>
</div>