<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1"
        src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">I am a <span id="js-rotating">Unconventional, WoT Player, Music Enthusiast, Geographer</span>
      Programmer.</h4>
  </div>
  <div class="user-content">
    <p>
      An idealist, often troubled by various problems in reality. 
      Hobbies are geography, music, painting, cycling, mountain climbing, photography and of course, animation.
      An 8-year-old player in World of Tanks, who is now being treated for high blood pressure.
    </p><br>
    <h5 class="sub-title"><b>Research Interests</b></h5>
    <p>
      Computer Vision and Image Processing, Natural Language Processing, Geographic Big Data Analysis, Spatiotemporal Data Modeling
    </p><br>
    <h5 class="sub-title"><b>Education Experiences</b></h5>
    <table class="striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>School</th>
          <th>Major</th>
          <th>Degree</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sep.2022 - Jul.2025</td>
          <td>Institute of Geographic Sciences<br>and Natural Resources Research,<br>Chinese Academy of Sciences</td>
          <td>Cartography and Geography Information System</td>
          <td>Master of Science</td>
        </tr>
        <tr>
          <td>Sep.2018 - Jul.2022</td>
          <td>Sichuan University</td>
          <td>Computer Science and Technology/<br>Wu Yuzhang Honors College</td>
          <td>Bachelor of Engineering/<br>Honors Degree</td>
        </tr>
        <tr>
          <td>Sep.2015 - Jul.2018</td>
          <td>High School Affiliated to<br>Renmin University of China</td>
          <td>Early Development Program</td>
          <td>High School Diploma</td>
        </tr>
      </tbody>
    </table>
    <br>
    <h5 class="sub-title"><b>Contact Me</b></h5>
      <p>Email: xurui22@mails.ucas.ac.cn</p>
      <p>Address: State Key Laboratory of Resource and Environmental Information Systems(LREIS), 
        Institute of Geographic Sciences and Natural Resources Research(IGSNRR), 
        Chinese Academy of Sciences(CAS), Beijing 100101.
      </p>
      <p>
        地址：北京市朝阳区大屯路甲11号，中国科学院地理科学与资源研究所，资源与环境信息系统国家重点实验室，100101.
      </p>
  </div>
</div>